= form_for @post, html: { class: 'ui form' } do |f|
  = render 'common/error_message', object: @post
  .ui.segment
    .field
      = f.text_field :title
    .field#editor-container
      = f.text_area :content, id: 'my-editor', style: 'height: 60vh;max-height: 60vh;'
  .field
    = f.submit 'Submit', class: 'ui teal button'

javascript:
  // 生成编辑器
  var editor = new wangEditor('my-editor');
  editor.config.mapAk = 'gnTQcmq3Lbs0C3VpmpRagDyLGVIVjz9F';
  editor.config.pasteFilter = false;
  editor.config.menuFixed = false;
  editor.config.zindex = 20000;
  wangEditor.config.printLog = false;
  editor.config.uploadHeaders = {
      'Accept' : 'text/x-json'
  };
  editor.config.uploadImgFileName = 'imgFile'
  editor.config.uploadImgUrl = '/upload';
  editor.create();
