$import-google-fonts: false
@import semantic-ui
@import social-share-button
@import calendar.min
@import social-share-button

#flash_message
  position: fixed
  left: 0
  right: 0
  z-index: 1
  margin: 10px

.ui.huge.corner.label p
  transform: rotate(45deg)
  margin-left: 1.5em
  margin-top: 0.5em
