$import-google-fonts: false
@import semantic-ui
@import social-share-button
@import wangEditor.min
@import calendar.min
@import social-share-button

body
  display: flex
  min-height: 100vh
  flex-direction: column

main
  flex: 1

#flash_message
  position: fixed
  left: 10em
  right: 10em
  z-index: 10
  top: 8em

.ui.huge.corner.label p
  transform: rotate(45deg)
  font-size: 0.8em
  margin-left: 2em
  margin-top: 0.5em
